.header {
  background-color: #00e88f !important;
}

.primary-button {
  background-color: #00e88f !important;
}

.secondary-button {
  color: #00e88f !important;
  border: 1px solid #00e88f !important;
}
